{{!< default}}

<div class="element lightgrey" id="about">
    <div class="inner clearfix">
    <div class="triangle left"><i class="icon-align-justify"></i></div>
    {{#post}}
        <h1 class="main sep mt40">{{title}}</h1>
        <div class="subheading clearfix">
            {{content}}
        </div>

        <div class="box message">
            <div class="row-fluid clearfix">
                <h4 class="span2">We're hiring</h4>
                <div class="span4"><h2><i class="icon-code font-small mr15"></i> Frontend Developer</h2></div>
                <p class="span6">Already several fatalities had attended his chase. But though similar disasters.</p>
            </div>
        </div>
    {{/post}}
    </div>
</div>