<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js index4"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="font/stylesheet.css">
        <!-- <link rel="stylesheet/less" type="text/css" href="less/main.less"> -->
        <link rel="stylesheet" href="css/template-4.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!--<script src="less/vendor/less-1.3.3.min.js"></script>-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="globalpreloader"></div>

        <div class="navigation light">
            <div class="navcont">
                <nav class="mainnav">
                    <ul>
                        <li class="act"><a href="#start">Start</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#work">Work</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="element lightgrey" id="start" style="background: white url(img/folhas-header-2.jpg) repeat left bottom;">
            <div id="sequence-theme">
                <div id="sequence">
                    <ul class="nav">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                    </ul>
                    <ul class="controls">
                        <li class="sequence-prev"><a>previous</a></li>
                        <li class="sequence-next"><a>next</a></li>
                    </ul>
                    <ul class="sequence-canvas">
                        <li class="slide1 animate-in">
                            <div class="text">
                                <h2>Everyone's making a white label version. We decided to make a Grey label one.</h2>
                                <a href="#" class="btn">See app in action</a>
                            </div>
                        </li>
                        <li class="slide2">
                                <p class="bigheading">LESS is more.</p>
                                <p class="smallheading">Especially when it's built with LESS.</p>
                                <p class="normal">We love designing websites, motion graphics, making animation and documentary shorts and characters. Feel free to contact us at <a href="#">mail@tardigradestudio.com</a></p>
                        </li>
                        
                    </ul>
                </div>
            </div>         
        </div>

        

        <div class="element lightgrey" id="work">
            <div class="inner clearfix">
                <div class="portfolio clearfix">
                    <ul class="sort simple clearfix" id="sort">
                        <li class="selected"><a href="#" class="all" id="all">All</a></li>
                        <li><a href="#" class="web">Web</a></li>
                        <li><a href="#" class="print">Print</a></li>
                    </ul>
                    
                    <ul class="gallery row thirds preloadthis clearfix">
                          <li data-id="id-11" class="item print"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>

                          <li data-id="id-5" class="item web"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>
                          
                          <li data-id="id-10" class="item print"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>

                          <li data-id="id-7" class="item web"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>

                          <li data-id="id-8" class="item web"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>

                          <li data-id="id-9" class="item print"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>
                          
                          <li data-id="id-6" class="item web"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>

                          <li data-id="id-12" class="item print"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>

                          <li data-id="id-13" class="item print"><a href="http://demo.tardigradestudio.com/assets/placeholder.png" data-title="Item Title" data-caption="by <a href='#'>Author</a>"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a></li>
                        </ul>
                </div>
            </div>
        </div>

        <!-- .element wraps up a versatile block of code that can be moved up and down among other .element(s) -->
        <div class="element lightgrey" id="about">
            <div class="inner clearfix">
                <h1 class="main sep mt40">About Tardigrade</h1>
                <div class="subheading clearfix"><p><i class="icon-cog font-large floatleft mr15"></i>We're a team of two, working from sunny Bulgaria. Our focus is design, animation and short films. We've been doing this in the last 4 years.</p></div>
                <div class="about row fourths clearfix">
                    <div class="item">
                        <div class="overlay">
                            <p>Irina’s passion is to create imaginary worlds, beasts and creatures and make them come to life.</p>
                            <div class="social clearfix"><a href="#"><img src="img/icons/picons/white/16/picons06.png"></a><a href="#"><img src="img/icons/picons/white/16/picons05.png"></a><a href="#"><img src="img/icons/picons/white/16/picons11.png"></a><a href="#"><img src="img/icons/picons/white/16/picons07.png"></a></div>
                        </div>
                        <a class="img"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a>
                        <h4>Irina Armenkova<span class="handle"></span></h4>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <p>Irina’s passion is to create imaginary worlds, beasts and creatures and make them come to life.</p>
                            <div class="social clearfix"><a href="#"><img src="img/icons/picons/white/16/picons06.png"></a><a href="#"><img src="img/icons/picons/white/16/picons05.png"></a><a href="#"><img src="img/icons/picons/white/16/picons11.png"></a><a href="#"><img src="img/icons/picons/white/16/picons07.png"></a></div>
                        </div>
                        <a class="img"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a>
                        <h4>Boyan Kostov<span class="handle"></span></h4>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <p>Irina’s passion is to create imaginary worlds, beasts and creatures and make them come to life.</p>
                            <div class="social clearfix"><a href="#"><img src="img/icons/picons/white/16/picons06.png"></a><a href="#"><img src="img/icons/picons/white/16/picons05.png"></a><a href="#"><img src="img/icons/picons/white/16/picons11.png"></a><a href="#"><img src="img/icons/picons/white/16/picons07.png"></a></div>
                        </div>
                        <a class="img"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a>
                        <h4>Irina Armenkova<span class="handle"></span></h4>
                    </div>
                    <div class="item">
                        <a class="img"><img src="img/samples/about/you.jpg" alt="" /></a>
                        <h4>Your name<span class="handle"></span></h4>
                    </div>
                </div>

                <div class="box message">
                    <div class="row-fluid clearfix">
                        <h4 class="span2">We're hiring</h4>
                        <div class="span4"><h2><i class="icon-code font-small mr15"></i> Frontend Developer</h2></div>
                        <p class="span6">Already several fatalities had attended his chase. But though similar disasters.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="element lightgrey">
            <div class="inner clearfix">
                <h1 class="main sep" id="services">How we do magic?</h1>
                <div class="row thirds clearfix">
                    <div class="item box-expanding collapsible">
                        <header>
                            <div class="heading"><h3><i class="icon-eye-open font-medium hide-tablet floatleft mr20 mt15"></i>Interface Design</h3></div>
                            <p>My name is Irina Armenkova. I’m junior animator from Bulgaria. I have studied Animation in New </p>
                        </header>
                        <div class="expanding">
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p40"><div></div></div>
                            </div>
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p70"><div></div></div>
                            </div>
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p80"><div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="item box-expanding collapsible">
                        <header>
                            <div class="heading"><h3><i class="icon-tablet font-medium hide-tablet floatleft mr20 mt15"></i>Mobile Development</h3></div>
                            <p>My name is Irina Armenkova. I’m junior animator from Bulgaria. I have studied Animation in New </p>
                        </header>
                        <div class="expanding">
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p30"><div></div></div>
                            </div>
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p50"><div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="item box-expanding collapsible">
                        <header>
                            <div class="heading"><h3><i class="icon-beaker font-medium hide-tablet floatleft mr20 mt15"></i>Testing and research</h3></div>
                            <p>My name is Irina Armenkova. I’m junior animator from Bulgaria. I have studied Animation in New </p>
                        </header>
                        <div class="expanding">
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p40"><div></div></div>
                            </div>
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p70"><div></div></div>
                            </div>
                            <div class="expandable">
                                <div class="heading">
                                    <i class="icon-cog mr5"></i>
                                    <h4>UI Design</h4>
                                </div>
                                <div class="progress color p90"><div></div></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="accordion" class="st-accordion">
                    <ul class="st-ul">
                        <li>
                            <a href="#" class="title"><span class="heading">Work Process</span><span class="description">We're Tardigrade and we love playing with pixels.</span><span class="marker"></span></a>
                            <div class="st-content">
                              <div class="row diamonds thirds clearfix">
                                    <div class="item">
                                        <a href="#" class="diamond"><span class="hover"><span class="btn">Show More</span></span><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a>
                                        <h2>Research</h2>
                                        <a href="#" class="more">more info »</a>
                                    </div>
                                    <div class="item">
                                        <a href="#" class="diamond"><span class="hover"><span class="btn">Show More</span></span><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a>
                                        <h2>Quote</h2>
                                        <a href="#" class="more">more info »</a>
                                    </div>
                                    <div class="item">
                                        <a href="#" class="diamond"><span class="hover"><span class="btn">Show More</span></span><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /></a>
                                        <h2>Testing</h2>
                                        <a href="#" class="more">more info »</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="title"><span class="heading">Alternative boxes</span><span class="description">Other variations you can use instead of the ones above.</span><span class="marker"></span></a>
                            <div class="st-content">
                              <div class="squares row sixths clearfix">
                                <div class="item">
                                    <a href="#"><img src="img/icons/services/clock.png" alt="" /></a>
                                    <p>UI Design</p>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="img/icons/services/calendar.png" alt="" /></a>
                                    <p>App Design</p>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="img/icons/services/cogs.png" alt="" /></a>
                                    <p>Research</p>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="img/icons/services/suitcase.png" alt="" /></a>
                                    <p>Mobile</p>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="img/icons/services/location.png" alt="" /></a>
                                    <p>Physics</p>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="img/icons/services/tv.png" alt="" /></a>
                                    <p>Anything else</p>
                                </div>
                              </div>
                              <div class="row-fluid content clearfix">
                                <div class="span4">
                                    <h3>Fear of a Bot Planet</h3>
                                    <p>All I want is to be a monkey of moderate intelligence who wears a suit&hellip; that's why I'm transferring to business school! You, minion. Lift my arm. AFTER HIM! You've killed me! Oh, you've killed me!</p>
                                </div>
                                <div class="span4">
                                    <h3>Fear of a Bot Planet</h3>
                                    <p>All I want is to be a monkey of moderate intelligence who wears a suit&hellip; that's why I'm transferring to business school! You, minion. Lift my arm. AFTER HIM! You've killed me! Oh, you've killed me!</p>
                                </div>
                                <div class="span4">
                                    <h3>Fear of a Bot Planet</h3>
                                    <p>All I want is to be a monkey of moderate intelligence who wears a suit&hellip; that's why I'm transferring to business school! You, minion. Lift my arm. AFTER HIM! You've killed me! Oh, you've killed me!</p>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="title"><span class="heading">Text styling</span><span class="description">We're Tardigrade and we love playing with pixels.</span><span class="marker"></span></a>
                            <div class="st-content">
                              <div class="content">
                                <h1>A Pharaoh to Remember</h1>
                                <p>That's not soon enough! That's a popular name today. Little "e", big "B"? Negative, bossy meat creature! I don't want to be rescued. We don't have a brig. I feel like I was mauled by Jesus.</p>
                                <h2>Fear of a Bot Planet</h2>
                                <p>All I want is to be a monkey of moderate intelligence who wears a suit&hellip; that's why I'm transferring to business school! You, minion. Lift my arm. AFTER HIM! You've killed me! Oh, you've killed me!</p>
                                <ul>
                                <li>Kids have names?</li>
                                <li>Bender, hurry! This fuel's expensive! Also, we're dying!</li>
                                <li>Daddy Bender, we're hungry.</li>
                                </ul>
                                <h3>Bendless Love</h3>
                                <p>You can crush me but you can't crush my spirit! For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. In your time, yes, but nowadays shut up! Besides, these are adult stemcells, harvested from perfectly healthy adults whom I killed for their stemcells.</p>
                                <h4>Brannigan, Begin Again</h4>
                                <p>No! The cat shelter's on to me. Belligerent and numerous. Do a flip! In our darkest hour, we can stand erect, with proud upthrust bosoms.</p>
                                <ol>
                                <li>Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all.</li>
                                <li>Of all the friends I've had&hellip; you're the first.</li>
                                <li>Of all the friends I've had&hellip; you're the first.</li>
                                <li>Yeah, and if you were the pope they'd be all, "Elementen your pope hat." And "Put on your good vestments."</li>
                                <li>No, just a regular mistake.</li>
                                </ol>
                                <h5>Fry and the Slurm Factory</h5>
                                <p>Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. And when we woke up, we had these bodies. Tell her you just want to talk. It has nothing to do with mating. You know, I was God once. You, a bobsleder!? That I'd like to see! Aww, it's true. I've been hiding it for so long.</p>
                              </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="element lightgrey">
            <div class="inner clearfix">
                <h1 class="main sep">Others about us *</h1>
                
                <div class="carouselcont">
                    <ul class="carousel testimonials clearfix" id="testimonials">
                        <li class="item testimonial">
                            <div class="cont clearfix">
                                <img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" />
                                <div class="entry"><h4>Unique attitude, helpful and always relevant</h4><p class="by">Megan Lounge<a href="#">Company Interactive</a></p></div>
                            </div>
                        </li>
                        <li class="item testimonial">
                            <div class="cont clearfix">
                                <img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" />
                                <div class="entry"><h4>We sat and talked and actually figured it all out.</h4><p class="by">Megan Lounge<a href="#">Company Interactive</a></p></div>
                            </div>
                        </li>
                        <li class="item testimonial">
                            <div class="cont clearfix">
                                <img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" />
                                <div class="entry"><h4>They helped us establish our new brand.</h4><p class="by">Megan Lounge<a href="#">Company Interactive</a></p></div>
                            </div>
                        </li>
                        <li class="item testimonial">
                            <div class="cont clearfix">
                                <img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" />
                                <div class="entry"><h4>They helped us establish our new brand.</h4><p class="by">Megan Lounge<a href="#">Company Interactive</a></p></div>
                            </div>
                        </li>
                    </ul> 
                    <a href="#" class="carouselnav prev" id="carousel1prev">prev</a>
                    <a href="#" class="carouselnav next" id="carousel1next">next</a>
                </div>
                <p class="note">These are real testimonials, not something we made up this afternoon. If you doubt, take a look at the <a href="#">originals</a></p>
            </div>
        </div>

        <div class="element lightgrey">
            <div class="inner clearfix">
                <h1 class="main sep" id="services">Our blog with images by <a href="www.photography.krappweis.com">Andreas Krappweis</a></h1>
                <div class="carouselcont clearfix">
                    <ul class="news carousel" id="news">
                        <li class="item news">
                            <a target="text.html" data-type="ajax" data-options="height: 1500, width: 880" id="news1"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /><span class="hover"><span class="btn">Open</span></span><span>Farm in Tuscany</span></a>
                        </li>
                        <li class="item news">
                            <a target="text2.html" data-type="ajax" data-options="height: 1500, width: 880"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /><span class="hover"><span class="btn">Open</span></span><span>Winding Country Road</span></a>
                        </li>
                        <li class="item news">
                            <a target="text3.html" data-type="ajax" data-options="height: 1500, width: 880"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /><span class="hover"><span class="btn">Open</span></span><span>Mountain Creek</span></a>
                        </li>
                        <li class="item news">
                            <a target="text4.html" data-type="ajax" data-options="height: 1500, width: 880"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /><span class="hover"><span class="btn">Open</span></span><span>Lake in Evening Light</span></a>
                        </li>
                        <li class="item news">
                            <a target="text5.html" data-type="ajax" data-options="height: 1500, width: 880"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /><span class="hover"><span class="btn">Open</span></span><span>Autumn Scene Near Mountains</span></a>
                        </li>
                        <li class="item news">
                            <a target="text6.html" data-type="ajax" data-options="height: 1500, width: 880"><img src="http://demo.tardigradestudio.com/assets/placeholder.png" alt="" /><span class="hover"><span class="btn">Open</span></span><span>Autumn Scene Near</span></a>
                        </li>
                    </ul> 
                    <a href="#" class="carouselnav prev" id="carousel2prev">prev</a>
                    <a href="#" class="carouselnav next" id="carousel2next">next</a>
                </div>
            </div>
        </div>

        <div id="themap" class="element map map-large"></div>

        <div class="element lightgrey withbgr pb40" id="contact">
            <div class="inner clearfix">
                <div class="row-fluid clearfix">
                    <div class="span9">
                        <h1 class="main">Contact us now</h1>
                        <div class="form">
                        <form method="post" id="form" action="">
                            <div class="error"><span></span></div>
                            <input type="text" placeholder="Your name" name="name" id="fname" class="medium required" />
                            <input type="email" placeholder="Your email" name="email" id="femail" class="medium required" />
                            <textarea name="message" id="ftext" class="giant required" placeholder="Your message"></textarea>
                            <div class="form-aligned-elements clearfix">
                                <button class="btn mr20 mb15">Send your message</button>
                                <p class="small mt5" style="vertical-align: middle">For a detailed offer, please <a href="#">email us</a></p>
                            </div>
                        </form>
                    </div>
                    </div>
                    <div class="span3">
                        <a href="https://maps.google.com/maps?daddr=New+York,+NY,+United+States&hl=en&ll=40.716005,-73.993285&spn=0.013906,0.033023&sll=43.149094,-67.104492&sspn=13.700301,33.815918&oq=New+York&mra=ls&t=m&z=16" class="widget getdirections hideonmobile">
                            <i class="icon-pushpin mr10"></i> <span>Get Map Directions</span>
                        </a>
                        <div class="widget withbgr">
                            <div class="top">
                                +555 123432516
                            </div>
                            <div class="bottom">
                                Call us now to get a free initial consultation
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Services</h3>
                            <ul class="vermenu">
                                <li><a href="#">Web design &amp; UX design</a></li>
                                <li><a href="#">Motion design</a></li>
                                <li><a href="#">Classic Animation</a></li>
                                <li><a href="#">Illustration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="element lightgrey lightened">
            <div class="inner">
                <div class="row-fluid clearfix sepclear">
                    <div class="span6">
                        <h3 class="mt40">Oh, we're also pretty social:</h3>
                    </div>
                    <div class="span6 mt30 tablet-right desktop-right">
                        <a href="#" class="social"><img src="img/icons/picons/white/32/picons03.png" alt="" /></a>
                        <a href="#" class="social"><img src="img/icons/picons/white/32/picons06.png" alt="" /></a>
                        <a href="#" class="social"><img src="img/icons/picons/white/32/picons02.png" alt="" /></a>
                        <a href="#" class="social"><img src="img/icons/picons/white/32/picons01.png" alt="" /></a>
                        <a href="#" class="social"><img src="img/icons/picons/white/32/picons11.png" alt="" /></a>
                    </div>
                </div>
                <div class="lowerfooter row-fluid clearfix">
                    <div class="l">
                        <p><a href="http://themeforest.net/item/element-flexible-one-page-template/5054585?ref=TardigradeStudio">Element</a>, a HTML template by <a href="http://tardigradestudio.com/">Tardigrade Studio</a></p>
                    </div> 
                    <div class="desktop-r">
                        <p>Copyright message here.</p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> 
        <!--<script src="js/plugins/plugins.js"></script>-->
        <script src="js/plugins/jquery.sequence-min.js"></script>
        <script src="js/plugins/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="js/plugins/waypoints.min.js"></script>
        <script src="js/plugins/jquery.quicksand.js"></script>
        <script src="js/plugins/jquery.carouFredSel-6.2.0-packed.js"></script>
        <script src="js/plugins/jquery.accordion.js"></script>
        <script src="js/plugins/jquery.easing.1.3.js"></script>
        <script src="js/plugins/jquery.validate.min.js"></script>
        <script src="js/plugins/jquery.form.min.js"></script>
        <script src="js/plugins/jquery.placeholder.min.js"></script>
        <script src="js/plugins/jquery.easytabs.min.js"></script>
        <script src="js/plugins/ilightbox.packed.js"></script>
        <script src="js/plugins/jquery.touchSwipe.min.js"></script>
        <script src="js/plugins/jquery.carouFredSel-6.2.0-packed.js"></script>
        <script src="js/plugins/css_browser_selector.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>